<form method="post" action="/items/<%= @item['id'] %>">
<dl>
  <dt><label for='item'>Item:</label></dt>
  <dd><input id='item' name='item' type='text' autofocus value="<%= @item['item'] %>"></dd>
</dl>
<dl>
 <dt><label for='details'>Details:</label></dt>
 <dd><textarea id='details' name='details'><%= @item['details'] %></textarea></dd>
  </dl>
<button>Update</button>
</form>
<form method="post" action="/items/<%= @item['id'] %>/delete">
<button>delete</button>
</form>
