<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>TooDoo!</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>What ToDo!</h1>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/items/new">New Item</a></li>
      </ul>
    </nav>
  </header>
   <%=yield%>
</body>
</html>