body{
  background-color:#8D9B91;
}
svg{
  display:block;
  margin:0 auto;
  width:700px;
  animation: floating 5s linear 2s infinite;
}

@keyframes floating{
  0%{transform:translateY(0px)}
  50%{transform:translateY(20px)}
  100%{transform:translateY(0px)}
}

#steam1{  animation: puff 2s linear infinite;}

@keyframes puff{
  0%{opacity:0; y:0}
  50%{opacity:1; transform:translateX(-30px)}
  100%{opacity:0; transform:translateX(-50px) }
}

#steam2{  animation: puffpuff 2.5s linear 1s infinite;}

@keyframes puffpuff{
  0%{opacity:0; y:0}
  50%{opacity:1; transform:translateX(-30px)}
  100%{opacity:0; transform:translateX(-50px) }
}
